@use "../abstracts/" as *;

.appointment {
  &__form {
    display: grid;
  }
  &__form-content {
    display: grid;
    grid-template-columns: $appointment-form-content-columns-mobile;
    gap: $appointment-form-content-gap;

    @include media-min(small) {
      grid-template-columns: $appointment-form-content-columns-desktop;
    }
  }
  &__input-box {
    display: grid;
    gap: $appointment-form-input-box-gap;

    input {
      width: $appointment-form-input-width;
      padding: $appointment-form-input-padding;
      border: $appointment-form-input-border;
      border-radius: $appointment-form-input-border-radius;
      outline-color: transparent;
      transition: outline $transition-2;
      &::placeholder {
        color: $appointment-form-input-placeholder-color;
      }

      &:focus {
        outline-color: $appointment-form-input-border-color-hover;
      }
    }

    label {
      text-align: left;
      font-weight: $appointment-form-label-font-weight;
      span {
        font-weight: $font-weight-400;
      }
    }
  }

  .button {
    margin-left: auto;
  }
}
